<template>
  <div class="playlist" id="playlist">
    <h1 class="playlist-text" @click="this.spotifyAuthorization">{{this.playlistText}}</h1>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'playlist',
  data() {
    return {
      playlistText: 'playlist',
      url: '',
      token: '',
    };
  },
  mounted() {
    if (window.location.search.indexOf('token') > -1) {
      this.token = this.geturlparams('token');
    } else {
      axios.get('/.netlify/functions/spotify').then((res) => {
        this.url = res.data.url;
      });
    }
  },
  methods: {
    spotifyAuthorization() {
      window.location.href = this.url;
    },
  },
};
</script>

<style lang="scss" scoped>
.playlist {
  width: 100vw;
  height: 70vh;
  position: relative;
  background: #eee;
}

.playlist-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #333;
}
</style>>
