<template>
    <div class="header" id="header">
        <h1 class="headline">{{this.headerText}}</h1>
    </div>
</template>

<script>
export default {
  name: 'header',
  data() {
    return {
      headerText: 'Playlist Builder',
    };
  },
};
</script>

<style lang="scss" scoped>
    .header {
        width: 100vw;
        height: 30vh;
        position: relative;
        background: #333;
    }

    .headline {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        color: #eee;
    }
</style>>
