<template>
    <div class="footer" id="footer">
        <h1 class="footer-text">{{this.footerText}}</h1>
    </div>
</template>

<script>
export default {
  name: 'footer',
  data() {
    return {
      footerText: 'Footer',
    };
  },
};
</script>

<style lang="scss" scoped>
    .footer {
        width: 100vw;
        height: 30vh;
        position: relative;
        background: #333;
    }

    .footer-text {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        color: #eee;
    }
</style>>
