<template>
  <div id="app">
    <Header/>
    <Playlist />
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header/Header.vue';
import Playlist from './components/Playlist/Playlist.vue';
import Footer from './components/Footer/Footer.vue';

export default {
  name: 'app',
  components: {
    Header,
    Footer,
    Playlist,
  },
};
</script>

<style lang="scss">
</style>
